body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main: rgb(44, 13, 58);
  --greener:#105353;
  --green:#019494;
  --dark: black;
  --brown: brown;
}

*  {
  background: var(--green);
}

a {
  background: none;
}

p {
  font-size: 18px;
  color: var(--main);
  font-weight: bold;
  background-color: var(--greener);
  text-align: center;
}

h1 {
  margin: auto 30px; 
  padding: 10px;
  color: var(--dark);
  font-weight: bold;
}

#header {
  display: flex;
  margin-left: 5px;
}

#navbar {
  align-items: flex-end;
  font-size: 22px;
  text-decoration: none;
  align-content: center;
}

#navbar a {
  color: var(--main);
  padding-left: 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 2px var(--dark);
}

.card {
  background-color: var(--greener);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--dark), 0 6px 12px var(--dark);
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--greener);
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--greener);
}

.card .content {
  font-size: 18px;
  background-color: var(--greener);
  color: var(--main);
  font-weight: bold;
  text-align: center;
}

#project-icon {
  background-color: var(--greener);
  padding: 5px;
}

#topics {
  font-size: small;
  font-style: italic;
  color: var(--dark);
}

#card-title {
  margin-top: 10px;
  color: var(--dark);
  text-shadow: 1px 1px 6px var(--brown);
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

#footer {
  padding: 5px;
  margin-top: 10px;
}

.icon {
  padding: 10px;
}

#about-me {
  margin: 2em;
}

#about-me p {
  background-color: var(--green);
  color: var(--dark);
}

#contact-me {
  justify-content: center;
  margin: 20px;
  margin-left: 10em;
  margin-right: 10em;
}

#code-terms ul {
  list-style-type: none;
}

#code-terms ul li {
  list-style-type: none;
}

#code-terms h2 {
  color: var(--dark);
}

#code-terms p {
  background-color: var(--green);
}

#my-resume p {
  background-color: var(--green);
  color: var(--dark);
  margin-top: 5px;
}

#footer {
  background-color: var(--dark);
}

#footer .icon {
  background-color: var(--dark);
  margin-top: 20px;
}

#footer p {
  background-color: var(--dark);
  margin-top: 8px;
}

#footer a {
  text-decoration: none;
  color: var(--main);
}

#react-icon {
  background-color: var(--dark);
}